@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Leaflet CSS overrides */
.leaflet-container {
  height: 100%;
  width: 100%;
}
